/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Microsoft YaHei";
  cursor: default;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.w-100 {
  width: 100%;
}

.border-radius-4 {
  border-radius: 4px;
}

.text-align-center {
  text-align: center;
}

.font-weight-bold {
  font-weight: bold;
}

.text-dark {
  color: #0F0F0F;
}

.text-orange {
  color: #FF6200;
}

.text-red {
  color: #FF0000;
}

.text-brown {
  color: #955412;
}

.text-green {
  color: #009933;
}

.text-white {
  color: #fff;
}

.text-purple {
  color: #7520B4;
}

.text-pink {
  color: #D800C7;
}

.text-gray {
  color: #8E8E8E;
}

.text-blue {
  color: #3366FF;
}

.text-light-blue {
  color: #0E79F4;
}

.text-deep-blue {
  color: #003BFF;
}

.text-ocean-blue {
  color: #0233A5;
}

.text-black {
  color: black;
}

.text-yellow {
  color: #CEA600;
}

.bg-deep-blue {
  background: #00216F;
}

.bg-light-blue {
  background: #fff;
}

.bg-light-gray {
  background: #ECF2ED;
}

.bg-white {
  background: #fff;
}

.bg-red {
  background: red;
}

.bg-purple {
  background: #7520B4;
}

.bg-ocean-blue {
  background: #034F9B;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-30 {
  font-size: 30px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-24 {
  font-size: 24px;
}

.bg-brown {
  background: #691A08;
}

.bg-green {
  background: #00B430;
}

.bg-deep-green {
  background: #00793C;
}

.bg-red {
  background: #FF0000;
}

.bg-blue {
  background: #003BFF;
}

.h-100 {
  height: 100px;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-around {
  justify-content: space-around;
}

.flex-direction-column {
  flex-direction: column;
}

.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.p-2 {
  padding: 2px;
}

.p-4 {
  padding: 4px;
}

.pb-10 {
  padding-bottom: 10px;
}

.lh-25 {
  line-height: 25px;
}

.lh-20 {
  line-height: 20px;
}

.lh-50 {
  line-height: 50px;
}